<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="author" content="Nome Cognome" />
	<title>Acceso-Spento 3</title>
	<style type="text/css">
		html{
			height:100%;
		}
		body{
			background-color: rgb(235,235,235);
			margin: 3em 2em;
		}
	</style>

</head>
<body>

	<img />

	<script type="module">

		const sequenza = [
			"img/as1.png",
			"img/as2.png",
			"img/as3.png",
		]

		let frame = 0

		setInterval(() => {
			const img = document.querySelector("img")
			img.src = sequenza[frame]
			frame = (frame + 1) % sequenza.length
		}, 300)

	</script>
</body>
</html>